.fd-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.fd-menu {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.fd-editable-text {
    color: var(--page-fg-high-contrast);
    caret-color: var(--caret);
    padding-right: 40px;
    outline: none;
}
